<h1><%= @collection.name %></h1>

<h3>Cards</h3>

<ul>

<% @collection.cards.each do |card| %>
<li><a href="/cards/<%= card.id %>"><%= card.player.name %>, <%= card.team.name %>, <%= card.position.name %>, <%= card.special_attribute %> -- <%= card.condition %></a></li>
<% end %>

</ul>

<% if self.logged_in? && (@collection.user == self.current_user) %>
    <a href="/cards/new">Add a card</a><br>
    <a href="/collections/<%= @collection.slug %>/edit">Edit this collection</a>
<% else %>
    <a href="/users/<%= @collection.user.slug %>"><h3>See <%= @collection.user.username %>'s other collections</h3></a>
<% end %>

