<h1>Add a New Card</h1>

<h2>Part 1 of 2</h2>
<form id="addCardForm1" action="/cards" method="POST">
    <h3>Collection:</h3>
    <% @user.collections.each do |collection| %>
    <p><input type="radio" name="collection" id="<%= collection.id %>" value="<%= collection.id%>" required><%= collection.name %></input></p>
    <% end %>

    <h3>Player:</h3>
    <div id="playerSelect">

    <div class="long-list">
    <% Player.all.sort_by{|player| player.name.downcase }.each do |player| %>
    <p><input type="radio" name="player" id="<%= player.id %>" value="<%= player.id%>" required onclick="ShowHideDiv()"><%= player.name %></input></p>
    <% end %>
    </div>
    </div>
    <h4><input type="radio" id="newPlayer" name="player" value="newPlayer" onclick="ShowHideDiv()"/>New Player</h4>     
     <div id="playerText" style="display: none;">
            Player Name:
            <input type="text" name="newPlayer" id="playerNameInput">
        </div>

    <h3>Condition:</h3>
    <p><input type="radio" name="condition" id="condition" value="mint">Mint</input></p>
    <p><input type="radio" name="condition" id="condition" value="excellant">Excellant</input></p>
    <p><input type="radio" name="condition" id="condition" value="good">Good</input></p>
    <p><input type="radio" name="condition" id="condition" value="fair">Fair</input></p>
    <p><input type="radio" name="condition" id="condition" value="poor">Poor</input></p>

    <h3>Special Card Attributes:</h3>
    <p>List any special card attributes separated by commas (rookie, signed, first edition, etc.):</p>
    <input type="text" name="special_attribute" id="special_attribute">

    <h3>Estimated Value:</h3>
    <label for="estimated_value">&#36;</label>
    <input type="number" step="0.01" min="0.00" name="estimated_value" id="estimated_value"><br><br>


<input type="submit" value="Next">

</form>

<script>
    function ShowHideDiv() {
    
        
            var newPlayer = document.getElementById("newPlayer");
            var playerText = document.getElementById("playerText");
    
            playerText.style.display = newPlayer.checked ? "block" : "none";
    
            // var playerSelect = document.getElementById("playerSelect");
    
            // playerSelect.style.display = playerCard.checked ? "block" : "none";
    
    
        playerText.style.display = playerSelect.checked ? "none" : {};
        }
    </script>