<h1>Card</h1>

<div id="card-wrapper">
    <h2>Player: <a href="/players/<%= @card.player.slug %>"><%= @card.player.name %></a></h2>

    <h2>Team: <a href="/teams/<%= @card.team.slug %>"><%= @card.team.name %></a></h2>

    <h2>Position: <%= @card.position.name %></h2>
</div>

<h2>Owner: <a href="/collections/<%= @card.collection.id %>"><%= @card.user.username %></a></h2>

<h2>Collection: <a href="/collections/<%= @card.collection.id %>" ><%= @card.collection.name %></a></h2>

<h2>Condition: <%= @card.condition %></h2>

<h2>Estimated Value: $<%= @card.estimated_value %></h2>

<h2>Special Attributes: <%= @card.special_attribute %></h2>

<% if self.logged_in? && (@card.user == self.current_user) %>
    <form action="/cards/new" method="get">
       
        <input type="submit" value="Add a new card">
        </form>
    
    <form action="/cards/<%= @card.id %>/edit" method="get">
       
        <input type="submit" value="Edit Card">
        </form>
    <form action="/cards/<%= @card.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Card">
    </form>
<% end %>